venv/
release

# Miscellaneous
ui/*.class
ui/*.log
ui/*.pyc
ui/*.swp
ui/.DS_Store
ui/.atom/
ui/.buildlog/
ui/.history
ui/.svn/

# IntelliJ related
ui/*.iml
ui/*.ipr
ui/*.iws
ui/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
ui/.dart_tool/
ui/.flutter-plugins
ui/.flutter-plugins-dependencies
ui/.packages
ui/.pub-cache/
ui/.pub/
ui/build/

# Web related
ui/lib/generated_plugin_registrant.dart

# Symbolication related
ui/app.*.symbols

# Obfuscation related
ui/app.*.map.json

# Android Studio will place build artifacts here
ui/android/app/debug
ui/android/app/profile
ui/android/app/release


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.ui
