aiofiles==0.6.0
ajsonrpc==1.1.0
bottle==0.12.20
certifi==2024.7.4
chardet==4.0.0
click==7.1.2
colorama==0.4.4
h11==0.16.0
idna==3.7
ifaddr==0.1.7
marshmallow==3.11.1
platformio==5.1.1
pyelftools==0.27
pyserial==3.5
requests==2.32.4
semantic-version==2.8.5
starlette==0.40.0
tabulate==0.8.9
urllib3==1.26.19
uvicorn==0.13.4
wsproto==1.0.0
zeroconf==0.28.8
